 <section class="row m-auto py-2" style="max-width: 18rem;">
     <div class="col card-deck">
         <div class="card">
             <a href="">
             <div class="card-body"> 
             <h5 class="card-title text-center">{{album}}</h5>
             </div>
             <img src="/assets/{{image}} " class="card-img-top" alt="{{image}}">
             </a>
         </div> 
     </div> 
 </section>
