 <section class="row m-auto py-2">
     <div class="col card-deck">
         <div class="card h-100">
             <a href="/artist/{{id}}">
             <div class="card-body"> 
             <h5 class="card-title text-center">{{artist_name}}</h5> 
           
             <img src="/assets/artCovers/{{image}} " class="card-img-top" alt="{{image}}">
                  
             </div>
             </a>
         </div> 
     </div> 
 </section>
