 <section class="py-2">
     <div class="col mb-4">
         <div class="card">
             <a href="/artist/{{id}}">
             <div class="card-body"> 
             <h5 class="card-title text-center">{{artist_name}}</h5> 
             <img src="/assets/artCovers/{{image}} " class="card-img-top img-fluid rounded mx-auto d-block" alt="{{image}}" style="width: 300px; height: 300px">                 
             </div>
             </a>
         </div> 
     </div>  
 </section>
