<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Essence of Music &#127926;</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
</head>
<body>

  <div class="jumbotron jumbotron-fluid bg-warning bg-image">
      <div class="container-fluid">
        <h1 class="display-4 text-center" style="font-family: 'Italianno', cursive; font-size: 150px; font-weight:800">Essence Of Music 🎧</h1>

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link text-warning bg-dark" id="pills-home-tab" data-toggle="pill" href="/" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link text-warning bg-dark" id="pills-home-tab" data-toggle="pill" href="/playlist" role="tab" aria-controls="pills-home" aria-selected="true">My playlist</a>
          </li>
          {{#if loggedIn}}
          <li class="nav-item" id="logout" role="presentation">
            <a class="nav-link text-secondary bg-dark" id="pills-profile-tab" data-toggle="pill" href="" role="tab" aria-controls="pills-profile" aria-selected="false">Logout</a>
          </li>
          {{else}}
          <li class="nav-item" role="presentation">
            <a class="nav-link text-warning bg-dark" id="pills-contact-tab" data-toggle="pill" href="/login" role="tab" aria-controls="pills-contact" aria-selected="false">Login</a>
          </li>
          {{/if}}
        </ul>
      </div>
  </div>
  <main>
    <div class="container-fluid">
      
          {{{body}}}
    </div>
  </main>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{else}}
    <a href="/login"></a>
  {{/if}}
</body>
</html>