<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      Hip Hop Artists
    </h2>
  </div>
    <div>
      <ol>
        <li>
          Kanye West
        </li>
        <li>
          Drake
        </li>
        <li>
          Chance the Rapper
        </li>
        <li>
          
        </li>
        <li>
          Pork Gyoza
        </li>
        <li>
          Yebeg Tibs with Injera Bread
        </li>
        <li>
          Cape Malay Curry
        </li>
      </ol>
    </div>
  </div>
</div>