<div class="row">
    <div class='p-3 text-white bg-dark col-4'>
        <h2>Which Artist would you like?</h2>
        <h4>{{artist.artist_name}}</h4>
    </div>
    <div class="gallery col-8 row">  
    {{#each artist.albums as |album|}}
    {{> artist-detail}}
    {{/each}}
    </div>
</div>