<div class="row">
    <div class='p-3 text-white bg-dark col-4'>
        <h2>What's your Vibe</h2>
        
    </div>
    {{#each playlists}}
    <div class="gallery col-8 row">  
        <a href="{{youtube}}">{{youtube}}</a>
   {{/each}}
    </div>
</div>

