<section class="jumbotron jumbotron-fluid custom-jumbotron">
    <div class="container">
        <h1>
            Welcome to Essence of music!
        </h1>
    </div>
</section>

<div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-success">Header</div>
    <div class="card-body text-success">
        <p>Enter Username</p>
        <form class="card-title"></form>
        <p>Enter Password</p>
        <form class="card-text"></form>
    </div>
    <div class="card-footer bg-transparent border-success">No profile? Sign up here</div>
</div>