<div class="row justify-space-between-md">
  <div class="col col-md-6 col-sm-10">
    <div class="card">
      <h2 class="page-title text-center">Login</h2>
      <form class="form login-form mx-auto">
        <div class="form-group">
          <label for="email-login">Email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">Password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group p-10">
          <button class="btn btn-primary btn-block" type="submit">login</button>
        </div>
      </form>
    </div>
  </div>

  <div class='col col-md-6 col-sm-10'>
    <div class="card">
    <h2 class="page-title text-center">Signup</h2>
    <form class="form signup-form mx-auto">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">signup</button>
      </div>
    </form>
  </div>
  </div>  
</div>


<script src="./js/login.js"></script> 